@charset "utf-8";

input[type="button"] {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
html {
    background-color: #1201fca9;
}
  
body {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    color: #00539F;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    text-align: center;
}
.clock {
    font-family: 'Share Tech Mono', monospace;
    color: #030692;
    text-shadow: 0 0 20px #0aafe6;
    line-height: 1.2;
    text-align: center;
}